.c-header {
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 36px;
    position: relative;
    border-bottom: 1px solid $color-divider;
    margin-bottom: 60px;
}

    .c-header__text {
    }